---
import BaseLayout from "../../layouts/BaseLayout.astro";

import ContactCTA from "../../components/ContactCTA.astro";
import Hero from "../../components/Hero.astro";

import { pegarLangDeURL, usarTraducoes } from "../../i18n/utils";

const lang = pegarLangDeURL(Astro.url);
const t = usarTraducoes(lang);
---

<BaseLayout title="About | Juan Andrade" description="About Juan Andrade">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title={t("about.title")}
        tagline="Leia abaixo para saber mais sobre meu background e experiência profissional."
      />

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            Comecei a programar em 2018 fazendo ensino médio com tecnico em
            Desenvolvimento web/mobile no <a href="https://www.cotemig.com.br/"
              >Cotemig</a
            >.
          </p>
          <p>
            Em 2020 comecei a fazer estágio como desenvolvedor front-end onde
            programava em Angular, React usando desenvolvimento ágil e usando
            DevOPS. Em 2022 fui contratado e também tenho atuado com testes.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Educação</h2>
        <div class="content">
          <p>Colégio COTEMIG - Desenvolvimento web/mobile - 2018-2020.</p>
          <p>
            Faculdade PUC Minas - Análise e desenvolvimento de sistemas -
            2023-2025
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>
            Javascript, Typescript, DevOPS, CI/CD, e2e, Node, Next/React,
            Angular, MySQl, NoSql, Docker, Git, Scrum, Kanban, Jira, Confluence,
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
